{% extends 'buy/layout.html' %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Order List</h1>
        <p class="fs-5 text-muted">주문 리스트</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                {% for i in order_list %}
                    <br>
                    <br>
                    - 상품명 : {{i.products}}<br>
                    - 상품 가격 : {{i.products.price}}<br>
                    - 상품 갯수 : {{i.product_count}}<br>
                    - 주문 시간 : {{i.order_time}}<br>
                    - 주소 : {{i.address}}<br>
                    <br>
                    <a href="{% url 'buy:order_discard' %}">❌주문 취소 하기❌</a> << 취소 후 다시 주문해주세요!
                    <br>
                {% endfor %}
            </div>    
        </div>
    </div>
{% endblock %}